.header {
  box-shadow: var(--shadow);
  background-color: var(--colors-ui-base);
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.title {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 0.5rem;

  color: var(--colors-text);
  font-weight: var(--fw-bold);
  text-decoration: none;

  span {
    font-size: 26px;
  }
}

.modeSwitcher {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 0.75rem;

  color: var(--colors-text);
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
  text-transform: capitalize;
  cursor: pointer;
}
